pkgbase = meta-pkg
	pkgdesc = A meta package to rule them all
	pkgver = 20260101
	pkgrel = 3
	url = https://github.com/phrippy/meta-pkg
	arch = any
	license = MIT
	depends = 7zip
	depends = age
	depends = android-tools
	depends = antiword
	depends = arch-install-scripts
	depends = archiso
	depends = aria2
	depends = arj
	depends = arp-scan
	depends = awesome-terminal-fonts
	depends = baobab
	depends = base
	depends = base-devel
	depends = bash-completion
	depends = bat
	depends = bc
	depends = bluez-utils
	depends = brightnessctl
	depends = bsd-games
	depends = btop
	depends = btrfs-progs
	depends = bzip3
	depends = calc
	depends = calibre
	depends = cpio
	depends = dhewm3
	depends = discord
	depends = discover
	depends = dmd
	depends = dos2unix
	depends = dpkg
	depends = efibootmgr
	depends = elinks
	depends = expect
	depends = extra-cmake-modules
	depends = fprintd
	depends = fzf
	depends = gameconqueror
	depends = gammastep
	depends = gemini-cli
	depends = gimp
	depends = git
	depends = git-filter-repo
	depends = github-cli
	depends = glab
	depends = gnuchess
	depends = go
	depends = gsfonts
	depends = haruna
	depends = haskell-brainfuck
	depends = htop
	depends = hwinfo
	depends = iw
	depends = jujutsu
	depends = kapidox
	depends = kcalc
	depends = kdav
	depends = kdiff3
	depends = kget
	depends = kimageformats
	depends = krename
	depends = krita
	depends = ktimetracker
	depends = libfaketime
	depends = libreoffice-fresh-uk
	depends = linux
	depends = linux-firmware
	depends = linux-headers
	depends = lrzip
	depends = lsd
	depends = lzip
	depends = mc
	depends = minisign
	depends = navi
	depends = net-tools
	depends = nethogs
	depends = nfs-utils
	depends = nmap
	depends = npm
	depends = ntfs-3g
	depends = nvidia-open
	depends = nvidia-settings
	depends = obs-studio
	depends = ollama
	depends = openai-codex
	depends = os-prober
	depends = packagekit-qt6
	depends = pacman-contrib
	depends = pdf2svg
	depends = phrippy-sudoers
	depends = pkgfile
	depends = plasma-meta
	depends = plocate
	depends = postgresql
	depends = postgresql-old-upgrade
	depends = proxychains-ng
	depends = pulseaudio-bluetooth
	depends = pv
	depends = pwgen
	depends = python
	depends = python-pip
	depends = qbittorrent
	depends = qemu-user-static
	depends = rbenv
	depends = rclone
	depends = refind
	depends = reflector
	depends = rpi-imager
	depends = rsync
	depends = ruby
	depends = ruby-build
	depends = screen
	depends = sddm
	depends = sddm-kcm
	depends = sops
	depends = speedtest-cli
	depends = squashfs-tools
	depends = squashfuse
	depends = sshfs
	depends = steam
	depends = strace
	depends = sudo
	depends = termdown
	depends = traceroute
	depends = tree
	depends = ttf-dejavu
	depends = ttf-opensans
	depends = unace
	depends = update-hosts
	depends = usbip
	depends = valkey
	depends = vim
	depends = virtualbox
	depends = virtualbox-guest-iso
	depends = vivaldi
	depends = vlc-plugins-all
	depends = webkit2gtk-4.1
	depends = webkitgtk-6.0
	depends = wget
	depends = wine-gecko
	depends = wine-mono
	depends = wpa_supplicant
	depends = xclip
	depends = xorg-xwayland
	depends = yakuake
	depends = yt-dlp-config
	depends = zip
	depends = zopfli
	depends = zsh-completions
	depends = zsync
	depends = meta-aur-pkg

pkgname = meta-pkg
